body {
    background-color: #181818;
}

.menu-bar {
    background-color: grey;
    padding-bottom: 2px;
    /*margin-bottom: 10px;*/
}

.menu-bar button {
    background-color: inherit;
    outline: none;
    border: none;
}

.dropdown-button {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown ul {
    color: black;
    padding: 5px;
    display: block;
    text-align: left;
}

.dropdown-button:hover .dropdown {
    display: block;
}

.workspace {
    background-color: #282828;
    height: fixed;
    margin-bottom: 10px;
}

.workspace-tab {
    border: solid #111111;
    border-width: thin;
    padding: 5px;
    font-family: Arial;
    color: grey;
    font-size: 13;
    display: inline-block;
}
.close-tab {
    background-color: inherit;
    outline: none;
    border: none;
    color: white;
}

#new-tab {
    margin-top: 5px;
    font-display: italics;
    background-color: inherit;
    border: none;
    font-size: 13;
    font-style: italic;
}

.code-space {
    outline: none;
    counter-reset: line;
    display: block;
    min-height: 88%;
    margin-bottom: 3em;
}

.code-line {
    white-space: pre;
    font-size: 14;
    margin-left: 1em;
    outline: none;
    color: #a6a7a6;
    
}

#new-tab {
    float: right;
}

.code-line::before {
    margin-right: 3em;
    counter-increment: line;
    content: counter(line);
}

.supplement-bar {
    margin-top: 2em;
    background-color: #00b4d8;
    overflow: hidden;
    padding: 2px;
}

#docType {
    float: right;
    background-color: inherit;
    border: none;
    color: white;
    margin-right: 30px;
}