body {
    background-color: #222222;
}

.menu-bar {
    background-color: grey;
    margin-bottom: 10px;
}

.menu-bar button {
    background-color: inherit;
    outline: none;
    border: none;
}

.code-space {
    outline: none;
    counter-reset: line;
    display: block;
}

.code-line {
    white-space: pre;
    font-size: 14;
    margin-left: 1em;
    outline: none;
    color: #A6A7A6;
    
}

.code-line::before {
    margin-right: 3em;
    counter-increment: line;
    content: counter(line);
}





  